/*ESTILOS GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 550px;
  border-radius: 20px;
  overflow: hidden;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282d35;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/*NAVBAR ESTILOS*/

header{
  height: 90px;
  background-color: #21222a;
  padding: 2rem 1rem;
}

nav{
  height: 100%;
  display: flex;
  align-items: center;
}

nav > img{
  margin-right: 1rem;
}

nav > span{
  color: #61DAFB;
  font-weight: 700;
  font-size: 1.4rem;
}

/*MAIN ESTILOS*/

section{
  width: 100%;
  padding: 2rem;
}

section > h1{
  color: white;
  font-weight: 700;
  padding-bottom: 1rem;
}

ul{
  padding-left: 2rem;
}

ul > li{
  color: white;
  padding: 0.40rem;
}

