/*ESTILOS GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 550px;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid white;
}

main{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282d35;
  background-image: url(./assets/react.svg);
  background-repeat: no-repeat;
  background-position: right -60px center;
  background-size: 190px;
}

body{
  min-height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/*NAVBAR ESTILOS*/

header{
  height: 90px;
  background-color: #21222a;
  padding: 2rem 1rem;
}

nav{
  height: 100%;
  display: flex;
  align-items: center;
}

nav > img{
  margin-right: 1rem;
}

nav > span{
  color: #61DAFB;
  font-weight: 700;
  font-size: 1.4rem;
}

/*MAIN ESTILOS*/

section{
  width: 100%;
  padding: 2rem;
}

section > h1{
  color: white;
  font-weight: 700;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 2.4rem;
}

.facts-list{
  max-width: 400px;
  margin-top: 1rem;
  padding-left: 2.5rem;
}

.facts-list > li{
  padding-block: 10px;
  line-height: 19px;
  color: white;
}

.facts-list > li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}
