*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

header{
  height: 90px;
  background-color: #21222a;
  padding: 2rem 1rem;
}

nav{
  height: 100%;
  display: flex;
  align-items: center;
}

nav > img{
  margin-right: 1rem;
}

nav > span{
  color: #61DAFB;
  font-weight: 700;
  font-size: 1.4rem;
}